# Copiar este archivo como secrets.properties y agregar los tokens de mapbox
MAPBOX_DOWNLOADS_TOKEN=sk.xxx_TU_SECRET_TOKEN_AQUI
MAPBOX_PUBLIC_TOKEN_DEV=pk.xxx_TU_DEV_TOKEN_AQUI
MAPBOX_PUBLIC_TOKEN_PROD=pk.xxx_TU_PROD_TOKEN_AQUI